body {
    font: 14px sans-serif;
}

table {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    table-layout: fixed;
}

tbody tr {
    background: #d4d4d4;
    z-index: -1;
}

tr th:first-child, tr td:first-child {
    width: 50px;
    white-space: nowrap;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

td.selected {
    background: #6eb2ff;
}

td.available {
    background: #6eff95;
}

td.unavailable {
    background: #9c2929;
}

.singleCellColumn {
    background-color: #9c2929;

}
/*
.inACell {
    background-color: #ff6ee9;
    z-index: 10;
    height: 100%;
    position: relative;
}*/